{{> header
   title = "Home Security"
   cssFileName = "homeSecurity.css" }}
  <body>
    <main>
      <div class="wrapper">
        <div class="hero-section">
          <!-- header starts -->
          <header>
            <!-- nav starts -->
            {{> navbar app-logo-image = "../Asset/logos/logo.png"}}
            <!-- nav closed -->
          </header>
          <!-- hader closed -->
          <div class="hero-section-content">
          </div>
        </div>
      </div>
    </main>
    {{> footer}}
  </body>
</html>
