{{> header
   title = "eGlu: Smart Home"
   cssFileName = "smartHome.css" }}

<body>
  <main>
    <div class="wrapper">
      <div class="hero-section">
        <!-- header starts -->
        <header>
          <!-- nav starts -->
          {{> navbar app-logo-image = "../Asset/logos/logo.png"}}
          <!-- nav closed -->
        </header>
        <!-- hader closed -->
        <div class="hero-section-content">
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="application-section">
        <div class="application-content-image">

        </div>
        <div class="application-content-text">

        </div>
      </div>
    </div>
  </main>

  {{>  footer}}
</body>

</html>
