<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>HAHA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <!--  This file is only for testing templates-->

  {{> templateOne
  imageUrl = "https://images.pexels.com/photos/34090/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350"
  headerText = "I am header"
  paragraphText= "I am Text Body"
  buttonOneText= "Button One"
  buttonTwoText= "Button Two"}} 

  {{> templateTwo
    headerText= "Header "
    item1= "Item One"
    item1Text = "Feature One"
    item2= "Item Two"
    item2Text = "Feature Two"
    item3= "Item Three"
    item3Text = "Feature Three"
    item4= "Item Four"
    item4Text = "Feature Four"
    item5= "Item Five"
    item5Text = "Feature Five"
    item6= "Item Six"
    item6Text = "Feature Six"

  }}


</body>

</html>
